.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 4rem; /* 24px */
  width: 100vw;
  background-color: black;
  color: white;
  font-size: 1.2rem; /* Adjust font size as needed */
  position: fixed;
  bottom: 0;
}
